.bg-svg{
    width: 100%;
    border-radius: 2px;
    margin-left: 7px;
}
.login-title{
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
    font-family: cursive, sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}
legend{
    font-size: 1rem !important;
}
.form-group{
    margin: 1.5rem 0 !important;
}